  
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Programs</span>
              </li>
  
              <!-- Btech CheckBox (Implement AJAX)-->
              <li class="sidebar-item">
                <a class="sidebar-link">
                  <span></span>
                  <input type="checkbox" id="btech-checkbox" class="custom-checkbox" />
                  <label for="btech-checkbox">B.Tech</label>
                </a>
              </li>
  
              <li class="sidebar-item sidebar-link">
                <a class="sidebar-link">
                  <span></span>
                  <input type="checkbox" id="mca-checkbox" class="custom-checkbox" />
                  <label for="mca-checkbox">MCA</label>
                </a>
              </li>
  
              <li class="sidebar-item">
                <a class="sidebar-link">
                  <span></span>
                  <input type="checkbox" id="mscit-checkbox" class="custom-checkbox" />
                  <label for="mscit-checkbox">M.Sc(IT)</label>
                </a>
              </li>
  
              <!--Gender CheckBoxes-->
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Gender</span>
              </li>
  
              <li class="sidebar-item">
                <a class="sidebar-link">
                  <span></span>
                  <input type="checkbox" id="male-checkbox" class="custom-checkbox" />
                  <label for="male-checkbox">Male</label>
                </a>
              </li>
  
              <li class="sidebar-item">
                <a class="sidebar-link">
                  <span></span>
                  <input type="checkbox" id="female-checkbox" class="custom-checkbox" />
                  <label for="female-checkbox">Female</label>
                </a>
              </li>
  