{% load static %}
<div class="py-6 px-6 text-center">
    <p class="mb-0 fs-4">Design and Developed by Shreya Acharya & Poojan Soni</p>
  </div>

</div>
</div>
</div>
<script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/sidebarmenu.js'%}"></script>
<script src="{% static 'js/app.min.js'%}"></script>

<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
<!-- Script JS -->
<script src="{% static 'js/script.js'%}"></script>
<!--$%analytics%$-->
<script src="{% static 'libs/simplebar/dist/simplebar.js'%}"></script>
