<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>index </title>

  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'css/images/logos/favicon.png'}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    {% include 'sidebar.html' %}
    <!--  Sidebar End -->

    <!--  Main wrapper -->
    <div class="body-wrapper">

      <!--  Header Start -->
      {% include 'header.html'%}
      <!--  Header End -->

      <!-- Page Body  -->
      <div class="container-fluid">
        <div class="container-fluid">
          <h5 class="card-title fw-semibold mb-4">Departments</h5>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <!-- FCAIT Card -->
                {% for item in items %}
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body" id="department_list">
                      <h5 class="card-title">{{item.dep_abbr}}</h5>
                      <p class="card-text">{{item.dep_name}}</p>
                      <a href="#" class="btn btn-primary">Open</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <a href="{% url 'create_department' %}" class="btn btn-primary float-end">Create Department</a>
      </div>
    </div>

    <!-- Footer Start -->
    {% include 'footer.html' %}
    <!-- Footer End -->

</body>

</html>