{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between st">
        <a href="{% url 'index'%}" class="text-nowrap logo-img">
          <img src="{% static 'css/images/logos/image34.png' %}" width="180" alt="eUniVerse Admin Logo"
            style="margin-top:15px;" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'index'%}" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>

          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Users</span>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'studentList'%}" aria-expanded="false">
              <span>
                <i class="ti">
                  <img src="{% static 'css/icons/custom-icons/student.png'%}" alt="" width="22" height="22" />
                </i>
              </span>
              <span class="hide-menu">Students</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="#" aria-expanded="false">
              <span>
                <i class="ti"><img src="{% static 'css/icons/custom-icons/alumni.png' %}" alt="" width="22"
                    height="22" /></i>
              </span>
              <span class="hide-menu">Alumni</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'discussions'%}" aria-expanded="false">
              <span>
                <i class="ti"><img src="{% static 'css/icons/custom-icons/alumni.png' %}" alt="" width="22"
                    height="22" /></i>
              </span>
              <span class="hide-menu">Discussions</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'doc_requests'%}" aria-expanded="false">
              <span>
                <i class="ti"><img src="{% static 'css/icons/custom-icons/alumni.png' %}" alt="" width="22"
                    height="22" /></i>
              </span>
              <span class="hide-menu">Document Requests</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="#" aria-expanded="false">
              <span>
                <i class="ti"><img src="{% static 'css/icons/custom-icons/staff.png' %}" alt="" width="25"
                    height="25" /></i>
              </span>
              <span class="hide-menu">Staff</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="#" aria-expanded="false">
              <span>
                <i class="ti">
                  <img src="{% static 'css/icons/custom-icons/guard.png' %}" alt="" width="25" height="25" />
                </i>
              </span>
              <span class="hide-menu">Guards</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="#" aria-expanded="false">
              <span>
                <i class="ti">
                  <img src="{% static 'css/icons/custom-icons/visitor.png' %}" alt="" width="22" height="22" />
                </i>
              </span>
              <span class="hide-menu">Visitors</span>
            </a>
          </li>

          

          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">AUTH</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
              <span>
                <i class="ti ti-login"></i>
              </span>
              <span class="hide-menu">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  